<div class="bg-theme-background p-5">
    <div class="container">

        <h1 class="text-white">General Knowledge</h1>
        <p class="text-white">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque iure quae similique, repellendus,.
        </p>
    </div>
</div>

<div class="container mt-5 mb-5">
    <div class="row" >
        <div class="col-md-4 mt-3" *ngFor="let item of categotyPostArray">
            <app-post-cards [postData]="item"></app-post-cards>
        </div>

    </div>
</div>