<div class="card mb-5 mt-5 pb-5 shadow-background">
    <div class="card-body">
        <h4 class="mt-3 mb-3">Comments 12343</h4>
        <div class="comment-box mt-3">
            <h6 class="mb-0">
                Isuru sajith

            </h6>
            <small>last update sep 20.2021</small>
            <div class="mt-3 mb-3">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit, laudantium? Officiis, repellat! Ut
                accusamus ipsum aliquid molestias laboriosam suscipit consectetur pariatur, neque, totam quam non aut.
                Assumenda facilis cupiditate facere.
            </div>
            <a href="#" class="mt-2">
                Reply
            </a>
            <a href="#" class="mt-2">
                View Reply
            </a>
            <hr>
        </div>
        <div class="comment-box mt-3">
            <h6 class="mb-0">
                Isuru sajith

            </h6>
            <small>last update sep 20.2021</small>
            <div class="mt-3 mb-3">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit, laudantium? Officiis, repellat! Ut
                accusamus ipsum aliquid molestias laboriosam suscipit consectetur pariatur, neque, totam quam non aut.
                Assumenda facilis cupiditate facere.
            </div>
            <a href="#" class="mt-2">
                Reply
            </a>
            <a href="#" class="mt-2">
                View Reply
            </a>
            <hr>
        </div>
        <div class="comment-box mt-3">
            <h6 class="mb-0">
                Isuru sajith

            </h6>
            <small>last update sep 20.2021</small>
            <div class="mt-3 mb-3">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit, laudantium? Officiis, repellat! Ut
                accusamus ipsum aliquid molestias laboriosam suscipit consectetur pariatur, neque, totam quam non aut.
                Assumenda facilis cupiditate facere.
            </div>
            <a href="#" class="mt-2">
                Reply
            </a>
            <a href="#" class="mt-2">
                View Reply
            </a>
            <hr>
        </div>
    </div>
</div>