<section class="featured-section">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md12 text-center mt-5">
                <h2 class="" text-white>Featured Posts</h2>
                <p class="text-white">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores ab inventore quae quasi voluptatem
                    reprehenderit natus sequi molestias aperiam, ratione accusantium et dignissimos soluta quis adipisci
                    earum, voluptatum voluptates alias.
                </p>
            </div>
        </div>
        <div class="row">
            <div *ngFor="let item of postFeatured" class="col-lg-3">
                <app-post-cards [postData]= "item"></app-post-cards>
            </div>
            
        </div>
    </div>

</section>

<section class="container mt-5">
    <div class="col-12 text-center">
        <h2>Latest Posts</h2>
        <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Praesentium, ipsam similique non ab nostrum libero
            aspernatur ipsum, eos reprehenderit maiores quia eum. Perspiciatis quae dignissimos, quibusdam quos
            doloribus quod ad!
        </p>
    </div>
    <div class="row"  >
        <div class="col-md-4 mt-3" *ngFor="let item of AllPost">
            <app-post-cards [postData]= "item"></app-post-cards>
        </div>
       

    </div>

</section>