<div class="container">
    <div class="row">
        <div class="col-md-9">
            <div class="card shadow-background">
                <img src="{{singlePost.data.postImgPath}}" alt="" class="card-img-top img-fluid">
                <div class="card-body">
                    <small class="bg-light text-danger text-center">{{singlePost.data.category.category}}</small>
                    <small class="bg-light text-success text-center ml-2">{{singlePost.data.isFeatured ? "Featured"
                        :""}}</small>
                    <small class="bg-light text-info text-center ml-2">Views {{singlePost.data.views}}</small>
                    <small class="bg-light text-warning text-center ml-2">{{singlePost.data.createdAt.toMillis() |
                        date}}</small>
                    <h1 class="mt-3 mb-3">
                        {{singlePost.data.title}}
                    </h1>
                    <p>
                        {{singlePost.data.content}}
                    </p>
                </div>
            </div>
            <app-comments-form></app-comments-form>
            <app-comments-list></app-comments-list>
        </div>
        <div class="col-md-3">
            <app-post-cards></app-post-cards>
        </div>
    </div>
</div>