<div class="card" [routerLink]="['/post',postData.id]">
    <img src={{postData?.data?.postImagPath}} alt="post-image" class="card-img-top">
    <div class="card-body">
        <small class="bg-light text-danger text-center">
            {{postData?.data?.category.category}}
        </small>

        <small class="bg-light ml-3 text-danger text-center">
            {{postData?.data?.isFeatured ? 'Featured' : ''}}
        </small>
        <small class="bg-light ml-3 text-danger text-center">
            {{postData?.data?.views}}
        </small>
        <h5 class="mt-1">
            {{postData?.data?.title}}

        </h5>
        <p class="">
            {{postData?.data?.excerpt}}
        </p>

        <small class="bg-light text-danger text-center">
            {{postData?.data?.createdAt.toMillis() | date}}
        </small>
    </div>

</div>